@use "./variables" as *;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $family;
	// background-color: $clr-background;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-weight: 700;
}

h1,
h2 {
	font-size: $extra-larg-fz;
}

a {
	text-decoration: none;
	text-transform: capitalize;
}

li {
	list-style: none;
}

button {
	background: transparent;
	border: none;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
	color: $clr-grey-3;
}
// Flexbox
.flex {
	display: flex;
	&-jc-sb {
		justify-content: space-between;
	}

	&-jc-c {
		justify-content: center;
	}

	&-ai-c {
		align-items: center;
	}
	&-f-g {
		gap: 10px;
	}
}

// Grid
.grid {
	display: grid;
	&-c-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	&-r-2 {
		grid-template-rows: repeat(2, 1fr);
	}
	&-g-g {
		gap: 11px;
	}
}

// Container
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 768px) {
	.container {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}

/* Very Small */
@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 991px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}

// Btn
.btn {
	padding: 10px 30px;
	border-radius: $l-radius;
	background-color: $clr-primary-5;
	cursor: pointer;
	transition: $transition;
}
.btn:hover {
	background-color: $clr-primary-6;
}
.btn a {
	color: $clr-white;
	font-size: $medium-fz;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: capitalize;
}

// Section
.info-img {
	width: 1000px;
	img {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.info-img {
		display: none;
	}
	.info-text {
		text-align: center;
		button {
			margin: 0 auto;
		}
	}
}
